main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.outer-box {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.inner-box-1 {
  background-color: white;
  border: 5px solid var(--dark);
  margin: 5px;
  border-radius: 10px;
}

.inner-box-1 img {
  height: 100%;
  max-width: 200px;
}

.inner-box-2 {
  width: 2000px;
  height: 175px;
  background-color: white;
  border: 5px solid var(--light);
  margin: 5px;
  border-radius: 10px;
  color: var(--secondary);
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.inner-box-2 p {
  padding: 10px;
}

.container {
  display: flex;
  user-select: none;
}

.container h2 {
  text-decoration: underline ;
}

/* Highlights list item element */
.container li:hover {
  background-color: var(--secondary);
  color: var(--light);
  cursor: pointer;
}

.container li {
  text-decoration: none;
  color: var(--primary);
  list-style-type: none ;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.box {
  flex: 100%;
  height: 300px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: white;
  border: 5px solid var(--secondary);
  border-radius: 10px;
  color: var(--secondary);
}

.message-block {
  height: 40px;
}

.success {
  display: none;
}

.show {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgb(45, 156, 51);
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.carousel-inner {
  position: relative; 
}

.carousel-item {
  text-align: center; 
}

.carousel-item img {
  max-width: 100%; 
  height: auto; 
}

#carouselExampleSlidesOnly {
  width: 50%;
  margin: 0 auto !important; 
  padding: 100px 20px 20px 20px; 
}